<section id="home" data-parallax="scroll">
    <div class="overlay"></div>
    <div class="home-content">        
        <div class="row contents">                     
            <div class="home-content-left">
                <h3>403</h3>
                <h3>
                    Forbidden, Silahkan Hubungi [wanzofc] untuk info update an selanjutnya 
                </h3>
                <div class="buttons">
                    <a href="https://wa.me/62895402567224" class="button stroke" target="__blank">
                        WANZOFC TECH
                    </a>
                </div>                                         
            </div>
        </div>
    </div> 
</section>
